<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTE Fuels Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calculator.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">

    <!-- For Apple devices (home screen icon) -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192x192.png') }}">

    <!-- For Android and other devices (preferred icon size) -->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='icons/icon-192x192.png') }}">

</head>
<body>

    <div class="container">

        <img src="{{ url_for('static', filename='icons/icon-512x512.png') }}" width="192" height="192" alt="OTE Fuels Logo" class="logo">
        <h1 style="color: #0d803f;">OTE Fuels Calculator</h1>

        <!-- Toggle Buttons -->
        <div class="toggle-container">
            <button id="singleButton" class="toggle-btn {% if single_class == 'active' %}active{% endif %}">Single</button>
            <button id="spreadsheetButton" class="toggle-btn {% if spread_class == 'active' %}active{% endif %}">Spreadsheet</button>
        </div>

        <!-- Error Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="error">
                    {% for category, message in messages %}
                        <p class="flash {{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form id="single_form" class="{% if single_class != 'active' %}hidden{% endif %}" method="post" action="{{ url_for('calculate_single') }}" autocomplete="off">

            <label for="MaxWeight">Max Weight (kg):</label>
            <input type="number" name="MaxWeight" id="MaxWeight" step="1" min="0" max="1000000"
            required autocomplete="off" value="{{ max_weight if max_weight is not none else '' }}">
            
            <label for="TandT">Truck & Trailer Tare Weight (kg):</label>
            <input type="number" name="TandT" id="TandT" step="1" min="0" max="1000000" 
            required autocomplete="off" value="{{ truck_trailer_weight if truck_trailer_weight is not none else '' }}">
            
            <label for="FuelDensity">Fuel Density (between 100 and 1000 g/cm³):</label>
            <input type="number" name="FuelDensity" id="FuelDensity" step="0.1" min="100" max="1000"
            required autocomplete="off" value="{{ fuel_density if fuel_density is not none else '' }}">
            
            <label for="FuelTemp">Average Fuel Temperature (between -50 and 50°C):</label>
            <input type="number" name="FuelTemp" id="FuelTemp" step="0.01" min="-50" max="50"
            required autocomplete="off" value="{{ fuel_temp if fuel_temp is not none else '' }}">
           
            <input type="submit" value="Calculate">

            {% if calculation_success_single == True %}
                <div class="result_single" id="result_single">
                    <p><strong>Max Weight:</strong> {{ max_weight }} kg</p>
                    <p><strong>Truck & Trailer Tare Weight:</strong> {{ truck_trailer_weight }} kg</p>
                    <p><strong>Fuel Density:</strong> {{ fuel_density }} g/cm³</p>
                    <p><strong>Average Fuel Temperature:</strong> {{ fuel_temp }} °C</p>
                    <p><strong>Available Weight:</strong> {{ available_weight }} kg</p>
                    <p><strong>Net Literage (Corrected to 15°C):</strong> {{ net_literage }} L</p>
                    <p><strong>Volume Correction Factor:</strong> {{ correction }}</p>
                    
                    <!-- Horizontal Line -->
                    <hr class="divider">
                    <p><strong>Target Gross Literage to Request:</strong> {{ gross_literage }} L</p>
                </div>
            {% endif %}

        </form>

        <!-- Spreadsheet Mode Form -->
        <form id="spreadsheet_form" class="{% if spread_class != 'active' %}hidden{% endif %}" method="post" action="{{ url_for('calculate_spreadsheet') }}" autocomplete="off">

            <label for="MaxWeight">Max Weight (kg):</label>
            <input type="number" name="MaxWeight" id="MaxWeight" step="1" min="0" max="1000000"
            required autocomplete="off" value="{{ max_weight if max_weight is not none else '' }}">
            
            <label for="TandT">Truck & Trailer Tare Weight (kg):</label>
            <input type="number" name="TandT" id="TandT" step="1" min="0" max="1000000"
            required autocomplete="off" value="{{ truck_trailer_weight if truck_trailer_weight is not none else '' }}">

            <!-- Fuel Density Range --> 
            
            <label for="FuelDensity">Fuel Density (between 100 and 1000 g/cm³):</label>
            <div class="range-group">
                <input type="number" name="FuelDensityMin" placeholder="Min" step="0.5" min="100" max="1000" required
                autocomplete="off" value="{{ fuel_density_min if fuel_density_min is not none else '' }}">
                <input type="number" name="FuelDensityMax" placeholder="Max" step="0.5" min="100" max="1000" required
                autocomplete="off" value="{{ fuel_density_max if fuel_density_max is not none else '' }}">
                <input type="number" name="FuelDensityStep" placeholder="Step" step="0.5" min="0.5" max="5" required
                autocomplete="off" value="{{ fuel_density_step if fuel_density_step is not none else '' }}">
            </div>

            <!-- Fuel Temperature Range -->
            <label for="FuelTemp">Average Fuel Temperature (between -50 and 50°C):</label>
            <div class="range-group">
                <input type="number" name="FuelTempMin" placeholder="Min" step="0.5" min="-50" max="50" required
                autocomplete="off" value="{{ fuel_temp_min if fuel_temp_min is not none else '' }}">
                <input type="number" name="FuelTempMax" placeholder="Max" step="0.5" min="-50" max="50"required
                autocomplete="off" value="{{ fuel_temp_max if fuel_temp_max is not none else '' }}">
                <input type="number" name="FuelTempStep" placeholder="Step" step="0.5" min="0.5" max="5"required
                autocomplete="off" value="{{ fuel_temp_step if fuel_temp_step is not none else '' }}">
            </div>

            <input type="submit" value="Calculate">

            {% if calculation_success_spread == True %}
                <div class="result_spread" id="result_spread">
                    <div class="table-container">
                        <table id="OutputTable">
                            <thead>
                                <tr>
                                    <th style="background-color: #e9ecef;">Gross Literage</th>
                                    {% for density in densities %}
                                    <th class="density-header">{{ density }} g/cm³</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for temp in temperatures %}
                                <tr>
                                    <td class="temperature-header">{{ temp }} °C</td>
                                    {% for volume in literage[loop.index0] %}
                                    <td>{{ volume }} L</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <button type="submit" onclick="printTable()">Print Spreadsheet</button>

            {% endif %}

        </form>

    </div>

    <!-- JavaScript for Switching Forms -->
    <script>
        const singleBtn = document.getElementById('singleButton');
        const spreadsheetBtn = document.getElementById('spreadsheetButton');
        const singleForm = document.getElementById('single_form');
        const spreadsheetForm = document.getElementById('spreadsheet_form');
        const singleResult = document.getElementById('result_single');
        const spreadResult = document.getElementById('result_spread');

        function switchForm(showSingle) {
            if (showSingle) {
                singleForm.classList.remove('hidden');
                spreadsheetForm.classList.add('hidden');
                singleBtn.classList.add('active');
                spreadsheetBtn.classList.remove('active');
                singleResult.classList.remove('hidden');
                spreadResult.classList.add('hidden');
            } else {
                singleForm.classList.add('hidden');
                spreadsheetForm.classList.remove('hidden');
                singleBtn.classList.remove('active');
                spreadsheetBtn.classList.add('active');
                singleResult.classList.add('hidden');
                spreadResult.classList.remove('hidden');
            }
        }

        singleBtn.addEventListener('click', () => switchForm(true));
        spreadsheetBtn.addEventListener('click', () => switchForm(false));
    </script>

    <!-- JavaScript for printing the table -->
    <script>
        function printTable() {
            window.print();
        }
    </script>

    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", function() {
                navigator.serviceWorker.register("/static/service-worker.js")
                    .then(reg => console.log("Service Worker registered", reg))
                    .catch(err => console.log("Service Worker registration failed", err));
            });
        }
    </script>

</body>
</html>
